/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Universal reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FAFAF8;
}

/* Remove list styles */
ul, ol {
    list-style: none;
}

/* Remove underline from links */
a {
    text-decoration: none;
    color: inherit;
}

/* Set images and videos to be responsive */
img, video {
    max-width: 100%;
    height: auto;
}

